<h1>Check out all the galleries in the database</h1>

<ul>
  <% @galleries.each do |gallery| %>
    <li>
      <%= link_to gallery.name, gallery_path(gallery) %>
    </li>
  <% end %>
</ul>


<%= link_to "Full Paintings List", paintings_path %>
<br>
<%= link_to "Add New Gallery", new_gallery_path %>
